<u>Rapport de récolte</u> :

<strong class="{{ ("admin.race." ~ race)|trans({}, "rules") }}">{{ character }}</strong> récolte {{ collecting_loots }}{{ collecting_experience }}.
{% if additional_reward %}
    {{ character }} gagne aussi <span class="récompense">{{ additional_reward }}</span>.
{% endif %}

<u>Informations complémentaires</u> : {{ comment }}.
{% for quest in validated_quests %}
    Réalisation de la quête <strong>{{ quest.name }}</strong> et récupération des récompenses suivantes : {{ quest.reward }}.
{% endfor %}
