<table>
    <thead>
    <tr>
        <th>{{ ('tools.trading_post.stock.list.table_header.'~type)|trans() }}</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stock_list %}
        <tr>
            <td>{{ stock.item.name }}</td>
            <td>
                {% if stock.count > 100 %}
                    {{ stock.count }}
                {% elseif stock.count > 25 %}
                    <strong>{{ stock.count }}</strong>
                {% else %}
                    <strong class="important">{{ stock.count }}</strong>
                {% endif %}
            </td>
            <td>{{ stock.value }} pièces d'or</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
