{% extends 'base.html.twig' %}

{% block title %}Stocks - {{ ('tools.trading_post.stock.title.'~type)|trans() }}{% endblock %}

{% block body %}
    <h1>{{ ('tools.trading_post.stock.header.'~type)|trans() }}</h1>

    <table>
        <thead>
        <tr>
            <th>{{ ('tools.trading_post.stock.table_header.'~type)|trans() }}</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stock_list %}
            <tr>
                <td>{{ stock.item.name }}</td>
                <td>
                    {% if stock.count > 100 %}
                        {{ stock.count }}
                    {% elseif stock.count > 25 %}
                        <strong>{{ stock.count }}</strong>
                    {% else %}
                        <strong class="important">{{ stock.count }}</strong>
                    {% endif %}
                </td>
                <td>{{ stock.value }} pièces d'or</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.tools.trading_post.stocks.get') }}">Retour à la liste des stocks</a>
{% endblock %}
